openapi: 3.0.3
info:
  title: SpaceX REST API
  description: Open Source REST API for launch, rocket, core, capsule, starlink, launchpad, and landing pad data.
  contact:
    name: Shinya Fujino
    url: https://github.com/morinokami
    email: shf0811@gmail.com
  version: 1.0.0
servers:
  - url: https://api.spacexdata.com/
tags: []
paths:
  /v4/capsules:
    get:
      summary: Get all capsules
      operationId: GetAllCapsules
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Capsule"
  /v4/capsules/{capsuleID}:
    get:
      summary: Get one capsule
      operationId: GetOneCapsule
      parameters:
        - name: capsuleID
          in: path
          description: ID of capsule
          required: true
          schema:
            type: string
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Capsule"
  /v4/capsules/query:
    post:
      summary: Query capsules
      operationId: QueryCapsules
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  title: Query
                  type: object
                  properties: {}
                  description: Accepts any valid MongoDB find() query
                options:
                  title: Options
                  type: object
                  properties:
                    select:
                      title: Select
                      type: string
                      description: Fields to return (by default returns all fields)
                    sort:
                      title: Sort
                      type: string
                      description: Sort order
                    offset:
                      title: Offset
                      type: integer
                      description: Use offset or page to set skip position
                      format: int32
                    page:
                      title: Page
                      type: integer
                      format: int32
                    limit:
                      title: Limit
                      type: integer
                      format: int32
                    pagination:
                      title: Pagination
                      type: boolean
                      description: If set to false, it will return all docs without adding limit condition
                    populate:
                      title: Populate
                      type: array
                      description: Paths which should be populated with other documents
                      items:
                        type: object
        required: true
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DocMeta"
                  - type: object
                    properties:
                      docs:
                        type: array
                        items:
                          $ref: "#/components/schemas/Capsule"
  /v4/company:
    get:
      summary: Get company info
      operationId: GetCompanyInfo
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
  /v4/cores:
    get:
      summary: Get all cores
      operationId: GetAllCores
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Core"
  /v4/launches:
    get:
      summary: Get all launches
      operationId: GetAllLaunches
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Launch"
  /v4/launches/{id}:
    get:
      summary: Get one launch
      operationId: GetOneLaunch
      parameters:
        - name: id
          in: path
          description: ID of launch
          required: true
          schema:
            type: string
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Launch"
  /v4/ships:
    get:
      summary: Get all ships
      operationId: GetAllShips
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Ship"
  /v4/ships/{id}:
    get:
      summary: Get one ship
      operationId: GetOneShip
      parameters:
        - name: id
          in: path
          description: ID of ship
          required: true
          schema:
            type: string
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ship"
components:
  schemas:
    Capsule:
      type: object
      properties:
        serial:
          type: string
        status:
          type: string
        type:
          type: string
        reuse_count:
          type: integer
          format: int32
        water_landings:
          type: integer
          format: int32
        land_landings:
          type: integer
          format: int32
        last_update:
          type: string
          nullable: true
        launches:
          type: array
          items:
            type: string
        id:
          type: string
    Company:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          nullable: true
        founder:
          type: string
          nullable: true
        founded:
          type: integer
          format: int32
          nullable: true
        employees:
          type: integer
          format: int32
          nullable: true
        vehicles:
          type: integer
          format: int32
          nullable: true
        launch_sites:
          type: integer
          format: int32
          nullable: true
        test_sites:
          type: integer
          format: int32
          nullable: true
        ceo:
          type: string
          nullable: true
        cto:
          type: string
          nullable: true
        coo:
          type: string
          nullable: true
        cto_propulsion:
          type: string
          nullable: true
        valuation:
          type: integer
          format: int32
          nullable: true
        headquarters:
          type: object
          properties:
            address:
              type: string
              nullable: true
            city:
              type: string
              nullable: true
            state:
              type: string
              nullable: true
        links:
          type: object
          properties:
            website:
              type: string
              nullable: true
            flickr:
              type: string
              nullable: true
            twitter:
              type: string
              nullable: true
            elon_twitter:
              type: string
              nullable: true
        summary:
          type: string
          nullable: true
    Core:
      type: object
      properties:
        id:
          type: string
        serial:
          type: string
        block:
          type: string
        status:
          type: string
        reuse_count:
          type: integer
          format: int32
        rtls_attempts:
          type: integer
          format: int32
        rtls_landings:
          type: integer
          format: int32
        asds_attempts:
          type: integer
          format: int32
        asds_landings:
          type: integer
          format: int32
        last_update:
          type: string
        launches:
          type: array
          items:
            type: string
    Launch:
      type: object
      properties:
        id:
          type: string
        flight_number:
          type: integer
          format: int32
        name:
          type: string
        date_utc:
          type: string
        date_unix:
          type: integer
          format: int32
        date_local:
          type: string
        date_precision:
          type: string
        static_fire_date_utc:
          type: string
          nullable: true
        static_fire_date_unix:
          type: integer
          nullable: true
        tbd:
          type: boolean
        net:
          type: boolean
        window:
          type: integer
          nullable: true
        rocket:
          type: string
          nullable: true
        success:
          type: boolean
          nullable: true
        failures:
          type: array
          items:
            type: object
            properties:
              time:
                type: integer
                format: int32
                nullable: true
              altitude:
                type: integer
                format: int32
                nullable: true
              reason:
                type: string
                nullable: true
        upcoming:
          type: boolean
        details:
          type: string
          nullable: true
        fairings:
          type: object
          properties:
            reused:
              type: boolean
              nullable: true
            recovery_attempt:
              type: boolean
              nullable: true
            recovered:
              type: boolean
              nullable: true
            ships:
              type: array
              items:
                type: object
        crew:
          type: array
          items:
            type: string
        ships:
          type: array
          items:
            type: string
        capsules:
          type: array
          items:
            type: string
        payloads:
          type: array
          items:
            type: string
        launchpad:
          type: string
          nullable: true
        cores:
          type: array
          items:
            type: object
            properties:
              core:
                type: string
                nullable: true
              flight:
                type: integer
                format: int32
                nullable: true
              gridfins:
                type: boolean
                nullable: true
              legs:
                type: boolean
                nullable: true
              reused:
                type: boolean
                nullable: true
              landing_attempt:
                type: boolean
                nullable: true
              landing_success:
                type: boolean
                nullable: true
              landing_type:
                type: string
                nullable: true
              landpad:
                type: string
                nullable: true
        links:
          type: object
          properties:
            patch:
              type: object
              properties:
                small:
                  type: string
                  nullable: true
                large:
                  type: string
                  nullable: true
            reddit:
              type: object
              properties:
                campaign:
                  type: string
                  nullable: true
                launch:
                  type: string
                  nullable: true
                media:
                  type: string
                  nullable: true
                recovery:
                  type: string
                  nullable: true
            flickr:
              type: object
              properties:
                small:
                  type: array
                  items:
                    type: string
                original:
                  type: array
                  items:
                    type: string
            presskit:
              type: string
              nullable: true
            webcast:
              type: string
              nullable: true
            youtube_id:
              type: string
              nullable: true
            article:
              type: string
              nullable: true
            wikipedia:
              type: string
              nullable: true
        auto_update:
          type: boolean
        launch_library_id:
          type: string
          nullable: true
    Ship:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        legacy_id:
          type: string
          nullable: true
        model:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
        roles:
          type: array
          items:
            type: string
        active:
          type: boolean
        imo:
          type: integer
          format: int32
          nullable: true
        mmsi:
          type: integer
          format: int32
          nullable: true
        abs:
          type: integer
          format: int32
          nullable: true
        class:
          type: integer
          format: int32
          nullable: true
        mass_kg:
          type: integer
          format: int32
          nullable: true
        mass_lbs:
          type: integer
          format: int32
          nullable: true
        year_built:
          type: integer
          format: int32
          nullable: true
        home_port:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        speed_kn:
          type: number
          nullable: true
        course_deg:
          type: number
          nullable: true
        latitude:
          type: number
          nullable: true
        longitude:
          type: number
          nullable: true
        last_ais_update:
          type: string
          nullable: true
        link:
          type: string
          nullable: true
        image:
          type: string
          nullable: true
        launches:
          type: array
          items:
            type: string
    DocMeta:
      type: object
      properties:
        totalDocs:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
        totalPages:
          type: integer
          format: int32
        page:
          type: integer
          format: int32
        pagingCounter:
          type: integer
          format: int32
        hasPrevPage:
          type: boolean
        hasNextPage:
          type: boolean
        prevPage:
          type: string
        nextPage:
          type: integer
          format: int32
