openapi: 3.0.3
info:
  title: SpaceX REST API
  description: Open Source REST API for launch, rocket, core, capsule, starlink, launchpad, and landing pad data.
  contact:
    name: Shinya Fujino
    url: https://github.com/morinokami
    email: shf0811@gmail.com
  version: 1.0.0
servers:
  - url: https://api.spacexdata.com/
tags: []
paths:
  /v4/capsules:
    get:
      summary: Get all capsules
      operationId: GetAllCapsules
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Capsule"
  /v4/capsules/{capsuleID}:
    get:
      summary: Get one capsule
      operationId: GetOneCapsule
      parameters:
        - name: capsuleID
          in: path
          description: ID of capsule
          required: true
          schema:
            type: string
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Capsule"
  /v4/capsules/query:
    post:
      summary: Query capsules
      operationId: QueryCapsules
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryOptions"
        required: true
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DocInfo"
                  - type: object
                    properties:
                      docs:
                        type: array
                        items:
                          $ref: "#/components/schemas/Capsule"
  /v4/company:
    get:
      summary: Get company info
      operationId: GetCompanyInfo
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
  /v4/cores:
    get:
      summary: Get all cores
      operationId: GetAllCores
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Core"
  /v4/cores/{coreID}:
    get:
      summary: Get one core
      operationId: GetOneCore
      parameters:
        - name: coreID
          in: path
          description: ID of core
          required: true
          schema:
            type: string
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Core"
  /v4/cores/query:
    post:
      summary: Query cores
      operationId: QueryCores
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryOptions"
        required: true
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DocInfo"
                  - type: object
                    properties:
                      docs:
                        type: array
                        items:
                          $ref: "#/components/schemas/Core"
  /v4/crew:
    get:
      summary: Get all crew members
      operationId: GetAllCrewMembers
      parameters: []
      responses:
        "200":
          description: default
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Crew"
  /v4/crew/{id}:
    get:
      summary: Get one crew member
      operationId: GetOneCrewMember
      parameters:
        - name: id
          in: path
          description: ID of crew member
          required: true
          schema:
            type: string
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Crew"
  /v4/crew/query:
    post:
      summary: Query crew members
      operationId: QueryCrewMembers
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryOptions"
        required: true
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DocInfo"
                  - type: object
                    properties:
                      docs:
                        type: array
                        items:
                          $ref: "#/components/schemas/Crew"
  /v4/dragons:
    get:
      summary: Get all Dragons
      operationId: GetAllDragons
      parameters: []
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Dragon"
  /v4/dragons/{id}:
    get:
      summary: Get one Dragon
      operationId: GetOneDragon
      parameters:
        - name: id
          in: path
          description: ID of Dragon
          required: true
          schema:
            type: string
      responses:
        "200":
          description: default
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dragon"
  /v4/dragons/query:
    post:
      summary: Query Dragons
      operationId: QueryDragons
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryOptions"
        required: true
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DocInfo"
                  - type: object
                    properties:
                      docs:
                        type: array
                        items:
                          $ref: "#/components/schemas/Dragon"
  /v4/history:
    get:
      summary: Get all history events
      operationId: GetAllHistory
      parameters: []
      responses:
        "200":
          description: default
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/History"
  /v4/history/{id}:
    get:
      summary: Get one history event
      operationId: GetOneHistory
      parameters:
        - name: id
          in: path
          description: ID of historic event
          required: true
          schema:
            type: string
      responses:
        "200":
          description: default
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/History"
  /v4/history/query:
    post:
      summary: Query history events
      operationId: QueryHistory
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryOptions"
        required: true
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DocInfo"
                  - type: object
                    properties:
                      docs:
                        type: array
                        items:
                          $ref: "#/components/schemas/History"
  /v4/landpads:
    get:
      summary: Get all landpads
      operationId: GetAllLandpads
      parameters: []
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Landpad"
  /v4/landpads/{id}:
    get:
      summary: Get one landpad
      operationId: GetOneLandpad
      parameters:
        - name: id
          in: path
          description: ID of landpad
          required: true
          schema:
            type: string
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Landpad"
  /v4/landpads/query:
    post:
      summary: Query landpads
      operationId: QueryLandpads
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryOptions"
        required: true
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DocInfo"
                  - type: object
                    properties:
                      docs:
                        type: array
                        items:
                          $ref: "#/components/schemas/Landpad"
  /v4/launches:
    get:
      summary: Get all launches
      operationId: GetAllLaunches
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Launch"
  /v4/launches/{id}:
    get:
      summary: Get one launch
      operationId: GetOneLaunch
      parameters:
        - name: id
          in: path
          description: ID of launch
          required: true
          schema:
            type: string
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Launch"
  /v4/launches/query:
    post:
      summary: Query launches
      operationId: QueryLaunches
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryOptions"
        required: true
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DocInfo"
                  - type: object
                    properties:
                      docs:
                        type: array
                        items:
                          $ref: "#/components/schemas/Launch"
  /v4/launchpads:
    get:
      summary: Get all launchpads
      operationId: GetAllLaunchpads
      parameters: []
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Launchpad"
  /v4/launchpads/{id}:
    get:
      summary: Get one launchpad
      operationId: GetOneLaunchpad
      parameters:
        - name: id
          in: path
          description: ID of launchpad
          required: true
          schema:
            type: string
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Launchpad"
  /v4/launchpads/query:
    post:
      summary: Query launchpads
      operationId: QueryLaunchpads
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryOptions"
        required: true
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DocInfo"
                  - type: object
                    properties:
                      docs:
                        type: array
                        items:
                          $ref: "#/components/schemas/Launchpad"
  /v4/payloads:
    get:
      summary: Get all payloads
      operationId: GetAllPayloads
      parameters: []
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Payload"
  /v4/payloads/{id}:
    get:
      summary: Get one payload
      operationId: GetOnePayload
      parameters:
        - name: id
          in: path
          description: ID of payload
          required: true
          schema:
            type: string
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payload"
  /v4/payloads/query:
    post:
      summary: Query payloads
      operationId: QueryPayloads
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryOptions"
        required: true
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DocInfo"
                  - type: object
                    properties:
                      docs:
                        type: array
                        items:
                          $ref: "#/components/schemas/Payload"
  /v4/roadster:
    get:
      summary: Get Roadster Info
      operationId: GetRoadsterInfo
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Roadster"
  /v4/rockets:
    get:
      summary: Get all rockets
      operationId: GetAllRockets
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Rocket"
  /v4/rockets/{id}:
    get:
      summary: Get one rocket
      operationId: GetOneRocket
      parameters:
        - name: id
          in: path
          description: ID of rocket
          required: true
          schema:
            type: string
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Rocket"
  /v4/rockets/query:
    post:
      summary: Query rockets
      operationId: QueryRockets
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryOptions"
        required: true
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DocInfo"
                  - type: object
                    properties:
                      docs:
                        type: array
                        items:
                          $ref: "#/components/schemas/Rocket"
  /v4/ships:
    get:
      summary: Get all ships
      operationId: GetAllShips
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Ship"
  /v4/ships/{id}:
    get:
      summary: Get one ship
      operationId: GetOneShip
      parameters:
        - name: id
          in: path
          description: ID of ship
          required: true
          schema:
            type: string
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ship"
  /v4/ships/query:
    post:
      summary: Query ships
      operationId: QueryShips
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryOptions"
        required: true
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DocInfo"
                  - type: object
                    properties:
                      docs:
                        type: array
                        items:
                          $ref: "#/components/schemas/Ship"
  /v4/starlink:
    get:
      summary: Get all Starlink sats
      operationId: GetAllStarlinkSats
      parameters: []
      responses:
        "200":
          description: default
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Starlink"
  /v4/starlink/{id}:
    get:
      summary: Get one Starlink sat
      operationId: GetOneStarlinkSat
      parameters:
        - name: id
          in: path
          description: ID of starlink sat
          required: true
          schema:
            type: string
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Starlink"
  /v4/starlink/query:
    post:
      summary: Query Starlink sats
      operationId: QueryStarlinkSats
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryOptions"
        required: true
      responses:
        200:
          description: default
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DocInfo"
                  - type: object
                    properties:
                      docs:
                        type: array
                        items:
                          $ref: "#/components/schemas/Starlink"
components:
  schemas:
    Capsule:
      type: object
      properties:
        serial:
          type: string
        status:
          type: string
        type:
          type: string
        reuse_count:
          type: integer
          format: int32
        water_landings:
          type: integer
          format: int32
        land_landings:
          type: integer
          format: int32
        last_update:
          type: string
          nullable: true
        launches:
          type: array
          items:
            type: string
        id:
          type: string
    Company:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          nullable: true
        founder:
          type: string
          nullable: true
        founded:
          type: integer
          format: int32
          nullable: true
        employees:
          type: integer
          format: int32
          nullable: true
        vehicles:
          type: integer
          format: int32
          nullable: true
        launch_sites:
          type: integer
          format: int32
          nullable: true
        test_sites:
          type: integer
          format: int32
          nullable: true
        ceo:
          type: string
          nullable: true
        cto:
          type: string
          nullable: true
        coo:
          type: string
          nullable: true
        cto_propulsion:
          type: string
          nullable: true
        valuation:
          type: integer
          format: int32
          nullable: true
        headquarters:
          type: object
          properties:
            address:
              type: string
              nullable: true
            city:
              type: string
              nullable: true
            state:
              type: string
              nullable: true
        links:
          type: object
          properties:
            website:
              type: string
              nullable: true
            flickr:
              type: string
              nullable: true
            twitter:
              type: string
              nullable: true
            elon_twitter:
              type: string
              nullable: true
        summary:
          type: string
          nullable: true
    Core:
      type: object
      properties:
        id:
          type: string
        serial:
          type: string
        block:
          type: string
        status:
          type: string
        reuse_count:
          type: integer
          format: int32
        rtls_attempts:
          type: integer
          format: int32
        rtls_landings:
          type: integer
          format: int32
        asds_attempts:
          type: integer
          format: int32
        asds_landings:
          type: integer
          format: int32
        last_update:
          type: string
        launches:
          type: array
          items:
            type: string
    Crew:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
        agency:
          type: string
        image:
          type: string
        wikipedia:
          type: string
        launches:
          type: array
          items:
            type: string
    Dragon:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        active:
          type: boolean
        crew_capacity:
          type: integer
          format: int32
        sidewall_angle_deg:
          type: integer
          format: int32
        orbit_duration_yr:
          type: integer
          format: int32
        dry_mass_kg:
          type: integer
          format: int32
        dry_mass_lb:
          type: integer
          format: int32
        first_flight:
          type: string
        heat_shield:
          type: object
          properties:
            material:
              type: string
            size_meters:
              type: number
              format: float
            temp_degrees:
              type: integer
              format: int32
            dev_partner:
              type: string
        thrusters:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              amount:
                type: integer
                format: int32
              pods:
                type: integer
                format: int32
              fuel_1:
                type: string
              fuel_2:
                type: string
              isp:
                type: integer
                format: int32
              thrust:
                type: object
                properties:
                  kN:
                    type: number
                    format: float
                  lbf:
                    type: integer
                    format: int32
        launch_payload_mass:
          type: object
          properties:
            kg:
              type: integer
              format: int32
            lb:
              type: integer
              format: int32
        launch_payload_vol:
          type: object
          properties:
            cubic_meters:
              type: integer
              format: int32
            cubic_feet:
              type: integer
              format: int32
        return_payload_mass:
          type: object
          properties:
            kg:
              type: integer
              format: int32
            lb:
              type: integer
              format: int32
        return_payload_vol:
          type: object
          properties:
            cubic_meters:
              type: integer
              format: int32
            cubic_feet:
              type: integer
              format: int32
        pressurized_capsule:
          type: object
          properties:
            payload_volume:
              type: object
              properties:
                cubic_meters:
                  type: integer
                  format: int32
                cubic_feet:
                  type: integer
                  format: int32
        trunk:
          type: object
          properties:
            trunk_volume:
              type: object
              properties:
                cubic_meters:
                  type: integer
                  format: int32
                cubic_feet:
                  type: integer
                  format: int32
            cargo:
              type: object
              properties:
                solar_array:
                  type: integer
                  format: int32
                unpressurized_cargo:
                  type: boolean
        height_w_trunk:
          type: object
          properties:
            meters:
              type: number
              format: float
            feet:
              type: number
              format: float
        diameter:
          type: object
          properties:
            meters:
              type: number
              format: float
            feet:
              type: integer
              format: int32
        flickr_images:
          type: array
          items:
            type: string
        wikipedia:
          type: string
        description:
          type: string
    History:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        event_date_utc:
          type: string
        event_date_unix:
          type: integer
          format: int32
        details:
          type: string
        links:
          type: object
          properties:
            article:
              type: string
    Landpad:
      type: object
      properties:
        id:
          type: string
          title: ID
        name:
          type: string
        full_name:
          type: string
        status:
          type: string
        type:
          type: string
        locality:
          type: string
        region:
          type: string
        latitude:
          type: number
          format: float
        longitude:
          type: number
          format: float
        landing_attempts:
          type: integer
          format: int32
        landing_successes:
          type: integer
          format: int32
        wikipedia:
          type: string
        details:
          type: string
        launches:
          type: array
          items:
            type: string
        images:
          type: object
          properties:
            large:
              type: array
              items:
                type: string
    Launch:
      type: object
      properties:
        id:
          type: string
        flight_number:
          type: integer
          format: int32
        name:
          type: string
        date_utc:
          type: string
        date_unix:
          type: integer
          format: int32
        date_local:
          type: string
        date_precision:
          type: string
        static_fire_date_utc:
          type: string
          nullable: true
        static_fire_date_unix:
          type: integer
          nullable: true
        tbd:
          type: boolean
        net:
          type: boolean
        window:
          type: integer
          nullable: true
        rocket:
          type: string
          nullable: true
        success:
          type: boolean
          nullable: true
        failures:
          type: array
          items:
            type: object
            properties:
              time:
                type: integer
                format: int32
                nullable: true
              altitude:
                type: integer
                format: int32
                nullable: true
              reason:
                type: string
                nullable: true
        upcoming:
          type: boolean
        details:
          type: string
          nullable: true
        fairings:
          type: object
          properties:
            reused:
              type: boolean
              nullable: true
            recovery_attempt:
              type: boolean
              nullable: true
            recovered:
              type: boolean
              nullable: true
            ships:
              type: array
              items:
                type: object
        crew:
          type: array
          items:
            type: string
        ships:
          type: array
          items:
            type: string
        capsules:
          type: array
          items:
            type: string
        payloads:
          type: array
          items:
            type: string
        launchpad:
          type: string
          nullable: true
        cores:
          type: array
          items:
            type: object
            properties:
              core:
                type: string
                nullable: true
              flight:
                type: integer
                format: int32
                nullable: true
              gridfins:
                type: boolean
                nullable: true
              legs:
                type: boolean
                nullable: true
              reused:
                type: boolean
                nullable: true
              landing_attempt:
                type: boolean
                nullable: true
              landing_success:
                type: boolean
                nullable: true
              landing_type:
                type: string
                nullable: true
              landpad:
                type: string
                nullable: true
        links:
          type: object
          properties:
            patch:
              type: object
              properties:
                small:
                  type: string
                  nullable: true
                large:
                  type: string
                  nullable: true
            reddit:
              type: object
              properties:
                campaign:
                  type: string
                  nullable: true
                launch:
                  type: string
                  nullable: true
                media:
                  type: string
                  nullable: true
                recovery:
                  type: string
                  nullable: true
            flickr:
              type: object
              properties:
                small:
                  type: array
                  items:
                    type: string
                original:
                  type: array
                  items:
                    type: string
            presskit:
              type: string
              nullable: true
            webcast:
              type: string
              nullable: true
            youtube_id:
              type: string
              nullable: true
            article:
              type: string
              nullable: true
            wikipedia:
              type: string
              nullable: true
        auto_update:
          type: boolean
        launch_library_id:
          type: string
          nullable: true
    Launchpad:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        full_name:
          type: string
        status:
          type: string
        locality:
          type: string
        region:
          type: string
        timezone:
          type: string
        latitude:
          type: number
          format: float
        longitude:
          type: number
          format: float
        launch_attempts:
          type: integer
          format: int32
        launch_successes:
          type: integer
          format: int32
        rockets:
          type: array
          items:
            type: string
        launches:
          type: array
          items:
            type: string
        images:
          type: object
          properties:
            large:
              type: array
              items:
                type: string
        details:
          type: string
    Payload:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        reused:
          type: boolean
        launch:
          type: string
        customers:
          type: array
          items:
            type: string
        norad_ids:
          type: array
          items:
            type: integer
            format: int32
        nationalities:
          type: array
          items:
            type: string
        manufacturers:
          type: array
          items:
            type: string
        mass_kg:
          type: number
          format: float
        mass_lbs:
          type: number
          format: float
        orbit:
          type: string
        reference_system:
          type: string
        regime:
          type: string
        longitude:
          type: number
          format: float
        semi_major_axis_km:
          type: number
          format: float
        eccentricity:
          type: number
          format: float
        periapsis_km:
          type: number
          format: float
        apoapsis_km:
          type: number
          format: float
        inclination_deg:
          type: number
          format: float
        period_min:
          type: number
          format: float
        lifespan_years:
          type: number
          format: float
        epoch:
          type: string
        mean_motion:
          type: number
          format: float
        raan:
          type: number
          format: float
        arg_of_pericenter:
          type: number
          format: float
        mean_anomaly:
          type: number
          format: float
        dragon:
          type: object
          properties:
            capsule:
              type: string
            mass_returned_kg:
              type: number
              format: float
            mass_returned_lbs:
              type: number
              format: float
            flight_time_sec:
              type: integer
              format: int32
            manifest:
              type: string
            water_landing:
              type: boolean
            land_landing:
              type: boolean
    Roadster:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        launch_date_utc:
          type: string
        launch_date_unix:
          type: integer
          format: int32
        launch_mass_kg:
          type: integer
          format: int32
        launch_mass_lbs:
          type: integer
          format: int32
        norad_id:
          type: integer
          format: int32
        epoch_jd:
          type: number
          format: float
        orbit_type:
          type: string
        apoapsis_au:
          type: number
          format: float
        periapsis_au:
          type: number
          format: float
        semi_major_axis_au:
          type: number
          format: float
        eccentricity:
          type: number
          format: float
        inclination:
          type: number
          format: float
        longitude:
          type: number
          format: float
        periapsis_arg:
          type: number
          format: float
        period_days:
          type: number
          format: float
        speed_kph:
          type: number
          format: float
        speed_mph:
          type: number
          format: float
        earth_distance_km:
          type: number
          format: float
        earth_distance_mi:
          type: number
          format: float
        mars_distance_km:
          type: number
          format: float
        mars_distance_mi:
          type: number
          format: float
        flickr_images:
          type: array
          items:
            type: string
        wikipedia:
          type: string
        video:
          type: string
        details:
          type: string
    Rocket:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        active:
          type: boolean
        stages:
          type: integer
          format: int32
        boosters:
          type: integer
          format: int32
        cost_per_launch:
          type: integer
          format: int32
        success_rate_pct:
          type: integer
          format: int32
        first_flight:
          type: string
        country:
          type: string
        company:
          type: string
        height:
          type: object
          properties:
            meters:
              type: number
              format: float
            feet:
              type: number
              format: float
        diameter:
          type: object
          properties:
            meters:
              type: number
              format: float
            feet:
              type: number
              format: float
        mass:
          type: object
          properties:
            kg:
              type: integer
              format: int32
            lb:
              type: integer
              format: int32
        payload_weights:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              kg:
                type: integer
                format: int32
              lb:
                type: integer
                format: int32
        first_stage:
          type: object
          properties:
            reusable:
              type: boolean
            engines:
              type: integer
              format: int32
            fuel_amount_tons:
              type: number
              format: float
            burn_time_sec:
              type: integer
              format: int32
            thrust_sea_level:
              type: object
              properties:
                kN:
                  type: integer
                  format: int32
                lbf:
                  type: integer
                  format: int32
            thrust_vacuum:
              type: object
              properties:
                kN:
                  type: integer
                  format: int32
                lbf:
                  type: integer
                  format: int32
        second_stage:
          type: object
          properties:
            reusable:
              type: boolean
            engines:
              type: integer
              format: int32
            fuel_amount_tons:
              type: number
              format: float
            burn_time_sec:
              type: integer
              format: int32
            thrust:
              type: object
              properties:
                kN:
                  type: integer
                  format: int32
                lbf:
                  type: integer
                  format: int32
            payloads:
              type: object
              properties:
                option_1:
                  type: string
                composite_fairing:
                  type: object
                  properties:
                    height:
                      type: object
                      properties:
                        meters:
                          type: number
                          format: float
                        feet:
                          type: number
                          format: float
                    diameter:
                      type: object
                      properties:
                        meters:
                          type: number
                          format: float
                        feet:
                          type: number
                          format: float
        engines:
          type: object
          properties:
            number:
              type: integer
              format: int32
            type:
              type: string
            version:
              type: string
            layout:
              type: string
            isp:
              type: object
              properties:
                sea_level:
                  type: integer
                  format: int32
                vacuum:
                  type: integer
                  format: int32
            engine_loss_max:
              type: integer
              format: int32
            propellant_1:
              type: string
            propellant_2:
              type: string
            thrust_sea_level:
              type: object
              properties:
                kN:
                  type: integer
                  format: int32
                lbf:
                  type: integer
                  format: int32
            thrust_vacuum:
              type: object
              properties:
                kN:
                  type: integer
                  format: int32
                lbf:
                  type: integer
                  format: int32
            thrust_to_weight:
              type: number
              format: float
        landing_legs:
          type: object
          properties:
            number:
              type: integer
              format: int32
            material:
              type: string
        flickr_images:
          type: array
          items:
            type: string
        wikipedia:
          type: string
        description:
          type: string
    Ship:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        legacy_id:
          type: string
          nullable: true
        model:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
        roles:
          type: array
          items:
            type: string
        active:
          type: boolean
        imo:
          type: integer
          format: int32
          nullable: true
        mmsi:
          type: integer
          format: int32
          nullable: true
        abs:
          type: integer
          format: int32
          nullable: true
        class:
          type: integer
          format: int32
          nullable: true
        mass_kg:
          type: integer
          format: int32
          nullable: true
        mass_lbs:
          type: integer
          format: int32
          nullable: true
        year_built:
          type: integer
          format: int32
          nullable: true
        home_port:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        speed_kn:
          type: number
          nullable: true
        course_deg:
          type: number
          nullable: true
        latitude:
          type: number
          nullable: true
        longitude:
          type: number
          nullable: true
        last_ais_update:
          type: string
          nullable: true
        link:
          type: string
          nullable: true
        image:
          type: string
          nullable: true
        launches:
          type: array
          items:
            type: string
    Starlink:
      type: object
      properties:
        id:
          type: string
        version:
          type: string
        launch:
          type: string
        longitude:
          type: number
          format: float
        latitude:
          type: number
          format: float
        height_km:
          type: number
          format: float
        velocity_kms:
          type: number
          format: float
        spaceTrack:
          type: object
          properties:
            CCSDS_OMM_VERS:
              type: string
            COMMENT:
              type: string
            CREATION_DATE:
              type: string
            ORIGINATOR:
              type: string
            OBJECT_NAME:
              type: string
            OBJECT_ID:
              type: string
            CENTER_NAME:
              type: string
            REF_FRAME:
              type: string
            TIME_SYSTEM:
              type: string
            MEAN_ELEMENT_THEORY:
              type: string
            EPOCH:
              type: string
            MEAN_MOTION:
              type: number
              format: float
            ECCENTRICITY:
              type: number
              format: float
            INCLINATION:
              type: number
              format: float
            RA_OF_ASC_NODE:
              type: number
              format: float
            ARG_OF_PERICENTER:
              type: number
              format: float
            MEAN_ANOMALY:
              type: number
              format: float
            EPHEMERIS_TYPE:
              type: integer
              format: int32
            CLASSIFICATION_TYPE:
              type: string
            NORAD_CAT_ID:
              type: integer
              format: int32
            ELEMENT_SET_NO:
              type: integer
              format: int32
            REV_AT_EPOCH:
              type: integer
              format: int32
            BSTAR:
              type: number
              format: float
            MEAN_MOTION_DOT:
              type: number
              format: float
            MEAN_MOTION_DDOT:
              type: number
              format: float
            SEMIMAJOR_AXIS:
              type: number
              format: float
            PERIOD:
              type: number
              format: float
            APOAPSIS:
              type: number
              format: float
            PERIAPSIS:
              type: number
              format: float
            OBJECT_TYPE:
              type: string
            RCS_SIZE:
              type: string
            COUNTRY_CODE:
              type: string
            LAUNCH_DATE:
              type: string
            SITE:
              type: string
            DECAY_DATE:
              type: string
            DECAYED:
              type: integer
              format: int32
            FILE:
              type: integer
              format: int32
            GP_ID:
              type: integer
              format: int32
            TLE_LINE0:
              type: string
            TLE_LINE1:
              type: string
            TLE_LINE2:
              type: string
    QueryOptions:
      type: object
      properties:
        query:
          title: Query
          type: object
          properties: {}
          description: Accepts any valid MongoDB find() query
        options:
          title: Options
          type: object
          properties:
            select:
              title: Select
              type: string
              description: Fields to return (by default returns all fields)
            sort:
              title: Sort
              type: string
              description: Sort order
            offset:
              title: Offset
              type: integer
              description: Use offset or page to set skip position
              format: int32
            page:
              title: Page
              type: integer
              format: int32
            limit:
              title: Limit
              type: integer
              format: int32
            pagination:
              title: Pagination
              type: boolean
              description: If set to false, it will return all docs without adding limit condition
            populate:
              title: Populate
              type: array
              description: Paths which should be populated with other documents
              items:
                type: object
    DocInfo:
      type: object
      properties:
        totalDocs:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
        totalPages:
          type: integer
          format: int32
        page:
          type: integer
          format: int32
        pagingCounter:
          type: integer
          format: int32
        hasPrevPage:
          type: boolean
        hasNextPage:
          type: boolean
        prevPage:
          type: string
        nextPage:
          type: integer
          format: int32
